
.input-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    .MuiInput-root{
        min-width: 14rem;
        border: 1px solid #717171;
        border-radius: 4px;
        width: 100%;
        text-align: left;
        padding : 0 0.4rem;
        background-color: #fff;
        &:focus,&:before{
            border-bottom : unset;
        }
        
    }
}